.tableNotifications {
    border-collapse: collapse;
    margin: 25px 0;
    margin-top: 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    #min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: right;
    display: block;
    float: right;
}

.tableNotifications thead tr {
    background-color: #33ccff;
    color: #ffffff;
    text-align: left;
}

.tableNotifications th,
.tableNotifications td {
    padding: 12px 15px;
}

.tableNotifications tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableNotifications tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableNotifications tbody tr:last-of-type {
    border-bottom: 2px solid #33ccff;
}

.title {
    text-align: right;
    float: right;
}

.buttonNotifications {
    border-collapse: collapse;
    margin: 5px 0;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: block;
    background-color: #33ccff;
    right: 0px;
    position: absolute;
}
.CreateOrder {
    border-collapse: collapse;
    margin: 5px 0;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: block;
    background-color: #33ccff;
    left: 0px;
    position: absolute;
}
